<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="Client/client-template.html :: head('Bookland Store')"></head>

<body>
	<div class="page-wraper">
		<!-- Header -->
		<header th:insert="Client/client-template.html :: header"></header>
		<!-- Header End -->

		<div class="page-content">
			<!-- inner page banner -->
			<div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm"
				style="background-image:url(/Client/images/background/bg3.jpg);">
				<div class="container">
					<div class="dz-bnr-inr-entry">
						<h1>Privacy Policy</h1>
						<nav aria-label="breadcrumb" class="breadcrumb-row">
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index"> Home</a></li>
								<li class="breadcrumb-item">Privacy Policy</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- inner page banner End-->

			<!-- contact area -->
			<section class="content-inner-1 shop-account">
				<div class="container">
					<div class="row">
						<!-- Left part start -->
						<div class="col-lg-8 col-md-7 col-sm-12 inner-text">
							<h4 class="title">The Bookland Store Privacy Policy was updated on 15 January 2024.</h4>
							<details>
								<summary>Show more</summary>
								<p class="m-b30">This update includes enhancements for clearer insights into the types of
									information we collect, improved explanations about your choices and controls over your
									personal data, strengthened security measures, and additional details on how we handle
									cookies, tracking technologies, and children's privacy. To familiarize yourself with
									these changes, we encourage you to review the updated Privacy Policy on our website.
								</p>
							</details>
							<div class="dlab-divider bg-gray-dark"></div>

							<h4 class="title">Who We Are and What This Policy Covers</h4>
							<details>
								<summary>Show more</summary>
								<p class="m-b30">Welcome to Bookland Store! We are dedicated to providing you with
									a delightful online book-buying experience. Our website is the entity responsible
									for the collection, use, and protection of your personal information when you visit
									and interact with our website.
								</p>
								<ul class="list-check primary m-a0">
									<li>Information We Collect: The types of information we collect from you, including
										personal and non-personal information.
									</li>
									<li>Sharing and Disclosure: Circumstances under which we may share your information
										with third parties (such as shipping providers). Our commitment to not sell or
										share your personal information for marketing purposes without your consent.
									</li>
									<li>Security: Measures we take to protect your information from unauthorized access
										or disclosure. Our use of secure technology to ensure a safe and secure online
										environment for your transactions.
									</li>
									<li>Children's Privacy: Our commitment to protecting the privacy of children, and
										our services' age restrictions.
									</li>
									<li>Your Choices: Options and controls you have regarding the information you
										provide to us. How you can manage your communication preferences and access,
										update, or delete your personal information.
									</li>
								</ul>
							</details>

							<h4 class="title">What personal information we collect</h4>
							<details>
								<summary>Show more
								</summary>
								<ul class="list-check primary m-a0">
									<li>Personal Information: When you create an account, place an order, or sign up
										for newsletters, we collect personal information such as your name, address,
										email, and phone number.
									</li>
									<li>Payment Information: We collect payment information to process your orders
										securely. This includes credit card details, which are encrypted and handled
										by trusted third-party payment processors.
									</li>
									<li>Website Usage Information: We use cookies and similar technologies to
										collect information about your browsing activities, including your IP address,
										device type, and pages visited. This helps us enhance your online experience and
										improve our website.
									</li>
								</ul>
							</details>
						</div>
						<div class="col-lg-4 col-md-5 col-sm-12 m-b30 mt-md-0 mt-4">
							<aside class="side-bar sticky-top right">
								<div class="service_menu_nav widget style-1">
									<ul class="menu">
										<li class="menu-item"><a href="about-us">About Us</a></li>
										<li class="menu-item active"><a href="privacy-policy">Privacy Policy</a>
										</li>
										<li class="menu-item "><a href="support">Help Desk</a></li>
										<li class="menu-item"><a href="contact-us">Contact Us</a></li>
									</ul>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</section>
			<!-- Privacy Policy END -->
		</div>

		<!-- Footer -->
		<div th:insert="Client/client-template.html :: footer"></div>
		<!-- Footer End -->
	</div>
</body>


</html>