<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="Admin/admin-template.html :: header('Books')">
</head>

<body>
<div class="wrapper">
    <!-- Sidebar  -->
    <div class="iq-sidebar" th:insert="Admin/admin-template.html :: sidebar">
    </div>

    <!-- Top Nav Bar -->
    <div class="iq-top-navbar" th:insert="Admin/admin-template.html :: topNavbar">
    </div>

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-card-header-toolbar d-flex align-items-center">
                                <a th:href="@{'/admin-add-book'}" class="btn btn-primary">Add New Book</a>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div class="table-responsive">
                                <table class="data-tables table table-striped table-bordered" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th style="width: 3%;">No</th>
                                        <th style="width: 25%;">Name</th>
                                        <th style="width: 10%;">Image</th>
                                        <th style="width: 10%;">Category</th>
                                        <th style="width: 12%;">Author</th>
                                        <th style="width: 5%;">Price</th>
                                        <th style="width: 5%;">Quantity</th>
                                        <th style="width: 15%;">Publication Date</th>
                                        <th style="width: 15%;">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="book : ${listBooks}">
                                        <tr>
                                            <td th:text="${book.book_id}"></td>
                                            <td th:text="${book.name}"></td>
                                            <td>
                                                <img class="img-fluid" alt="bookImage" th:src="${book.book_image}"/>
                                            </td>
                                            <td>
                                                <th:block th:each="category: ${book.categories}">
                                                    <span class="badge bg-primary" th:text="${category.name}"></span>
                                                </th:block>

                                            </td>
                                            <td th:text="${book.author.name}"></td>
                                            <td th:text="'$ ' + ${book.price}"></td>
                                            <td th:text="${book.quantity}"></td>
                                            <td th:text="${book.publication_date}"></td>
                                            <td>
                                                <div class="flex align-items-center list-user-action text-center">
                                                    <a class="bg-primary" data-toggle="tooltip" data-placement="top"
                                                       title=""
                                                       data-original-title="Edit"
                                                       th:href="@{'/admin-books/edit/' + ${book.book_id}}"><i
                                                            class="ri-pencil-line"></i></a>
                                                    <a class="bg-primary" data-toggle="tooltip" data-placement="top"
                                                       title=""
                                                       data-original-title="Delete"
                                                       th:href="@{'/admin-books/delete/' + ${book.book_id}}"><i
                                                            class="ri-delete-bin-line"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Wrapper END -->

<div th:replace="Admin/admin-template.html :: footer">
</div>
</body>

</html>